 * {
     margin: 0;
     padding: 0;
     color: whitesmoke;
 }
 body, input, select {
    background-color: rgb(10, 10, 10);
 }

 a{
    color: yellow;
 }
 a:visited{
    color : orange;
 }

 h1 {
     margin: 1rem;
     padding: 1rem;
     text-align: center;
 }

 #introduction {
     text-align: center;
 }

 p {
     font-size: large;
     margin: 0.5rem;
     padding: 0.5rem;
 }

 header {
     border-bottom: 5px solid rgb(255, 255, 255);
 }

 main {
     padding: 2rem;
 }

 #canvas_container {
    display: flex;
    align-items: center;
    justify-content: center;
     border: 1px solid rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0.05);
 }

 footer {
     flex-wrap: wrap;
     border-top: 5px solid rgb(255, 255, 255);
     padding: 5rem 0;
 }

 footer ul {
     list-style: square;
 }

 #footer_copyright {
     flex: 100%;
 }

 #footer_goals,
 #footer_resource {
     flex: 50%;
 }

 #footer_copyright {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 1rem;
 }

 @media screen and (max-width: 767px) {
     #footer_goals,
     #footer_resource {
         flex: 100%;
     }

     footer {
         text-align: center;
     }
 }