 * {
     /*
     margin: 0;
     padding: 0;*/
     color: whitesmoke;
 }

 body,
 input,
 select {
     background-color: rgb(10, 10, 10);
 }

 a {
     color: yellow;
 }

 a:visited {
     color: orange;
 }

 h1 {
     margin: 1rem;
     padding: 1rem;
     text-align: center;
 }

 #introduction {
     text-align: center;
 }

 p {
     font-size: large;
     margin: 0.5rem;
     padding: 0.5rem;
 }

 header {
     border-bottom: 5px solid rgb(255, 255, 255);
 }

 footer {
     flex-wrap: wrap;
     border-top: 5px solid rgb(255, 255, 255);
     padding: 5rem 0;
 }

 footer ul {
     list-style: square;
 }

 #footer_copyright {
     flex: 100%;
 }

 #footer_goals,
 #footer_resource {
     flex: 50%;
 }

 #choose_mode{
    margin: 1rem auto;
    padding: 1rem;
 }

 #choosen_colors {
     padding: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
 }

 #choosen_colors li {
     list-style: none;
     line-height: 2rem;
     width: 100%;
     text-align: center;
     border: 2px solid white;
     color: black;
     font-weight: 900;
     max-width: 500px;
 }

 #footer_copyright {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 1rem;
 }

 #canvas_container {
     display: block;
     margin: auto auto;
     aspect-ratio: 1/1;
     width: 100%;
     max-width: 500px;
     background-color: rgba(255, 255, 255, 0.05);
 }

 #canvas {
     width: 100%;
     height: 100%;
 }


 @media screen and (max-width: 767px) {

     #footer_goals,
     #footer_resource {
         flex: 100%;
     }

     footer {
         text-align: center;
     }
 }