 * {
     margin: 0;
     padding: 0;
 }

 h1 {
     display: none;
     margin: 1rem;
     padding: 1rem;
     text-align: center;
 }

 #introduction {
     text-align: center;
 }

 p {
     font-size: large;
     margin: 0.5rem;
     padding: 0.5rem;
 }

 header {
     display: none;
     border-bottom: 5px solid black;
 }

 main {
     background-color: rgb(26, 133, 26);
     padding: 2rem;
 }

 #canvas {
     display: block;
     border: 1px solid black;
     background-color: rgb(119, 119, 119);
     margin: 0 auto;
 }

 footer {
     display: none;
     flex-wrap: wrap;
     border-top: 5px solid black;
     padding: 5rem 0;
 }

 footer ul {
     list-style: square;
 }

 #footer_copyright {
     flex: 100%;
 }

 #footer_goals,
 #footer_resource {
     flex: 50%;
 }

 #footer_copyright {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 1rem;
 }

 @media screen and (max-width: 767px) {

     #footer_goals,
     #footer_resource {
         flex: 100%;
     }

     footer {
         text-align: center;
     }
 }